@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular.woff2') format('woff2'),
    url('../fonts/karla-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.follows {
    padding-bottom: 15px;
}
.staff_home{
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    float: right;
    padding-right: 30px;
}

.staff_home{
    transition: all 400ms ease-in-out;
    color: white;
}

.header {
    margin-top: 0px;
    background-color: slategrey;
    width: 100%;
}

.navbar-inverse {
    background-color: slategrey!important;
}

.sanpshot {
    width: 100%;
    padding-top: 4em;
    padding-bottom: 8em;
}

.courses_img {
    text-align: left;
}

.courses_img img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.class_sanpshot {
    width: 100%;
    height: auto;
}

.logo {
    float: left;
    padding-left: 10px;
    padding-top: 1.8em;
    padding-bottom: 0.5em;
}

.lovings img {
    max-width: 100%;
}

.lovings {
    text-align: center;
}

.logo a {
    display: inline-block;

}

.main_menu {
    float: left;
    padding-top: 3.5em;
}

.left_side_menu {
    float: left;
    padding-top: 0.5em;
    padding-bottom: 1.0em;
}

.left_side_menu ul li {
    padding-bottom: 1em;
}

.left_side_menu ul li a {
    display: block;
    width: 100%;
    text-align: left;
}

.topnav a {
    float: left;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

li {
    font-size: 17px;
    text-decoration: none;
}

.meanu {
    padding-top: 1.6em;
    padding-bottom: 1em;
    float: right;
}

.navbar-header {
}

.topnav .icon {
    display: none;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
}
a:hover {
    color: white;
}

.broser a:hover {
    color: red;
}

.dropdowns {
    float: left;
    padding-top: 4px;
}

.dropdowns .dropbtns {
    font-size: 17px;
    outline: none;
    color: white;
    padding: 8px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border: solid 1px #BFD432;
}

.dropdowns-content {
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #636b6f;
    min-width: 160px;
}

.dropdowns-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdowns-content a:hover {
    background-color: gray;
    color: black;
}

.dropdowns:hover .dropdowns-content {
    display: block;
    color: red;
}

.footer {
    background-color: #2c3139;
    width: 100%;
    height: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    color: black;
    font-size: 29px;
    font-weight: 500 !important;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    padding-top: 20px!important;
    line-height: 1.18!important;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color:orangered!important;
    font-weight: 600 !important;
}

.certification_size {
    font-size: 32px;
    line-height: 1.18;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: #202329;
    font-weight: 600 !important;
}

.padd_top_one_em {
    padding-top: 1em;
}

.padd_top_two_em {
    padding-top: 2em;
}

.padd_bottom_one_em {
    padding-bottom: 1em;
}

.padd_bottom_eight_em {
    padding-bottom: 8em;
}

.padd_bottom_ten_em {
    padding-bottom: 10em;
}

.professionals h2 {
    padding-bottom: 70px;
    padding-left: 2em;
    padding-right: 1em;
    max-width: 60%;
    text-align: left;

}

.courses_button {

    margin-left: 10em;
}

.home_bg {
    background-image: url('../images/school.jpg') !important;
    padding-bottom: 290px;
}

.home_bgs {
    background-image: url('../images/school.jpg') !important;

}
.home_bgs {
    background-image: url('../images/school.jpg') !important;

}
.border_bg {
    background-image: url('../image/borderimg.jpeg') !important;
    padding-bottom: 130px;
}

.home_bg_one {
    background-image: url('../image/home1.jpg') !important;
}

label {
    font-weight: normal;
    padding-bottom: 10px!important;
}

.form_image {
    background-image: url('../image/form_image.jpg') !important;
    padding-top: 7em;
    padding-bottom: 7em;
}

.common_bg_style {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.after_home {
    background-image: url('../image/slider3.jpg');
    padding-bottom: 70px;
}

.effect_home {
    background-image: url('../image/AfterEffectsback.jpg');
    padding-bottom: 80px;
}

.illustrator_home {
    background-image: url('../image/illustrator.jpg');
    padding-bottom: 80px;
}

.indesign_home {
    background-image: url('../image/Indesign.jpg');
    padding-bottom: 80px;
}

.photoshop_home {
    background-image: url('../image/Photoshop.jpg');
    padding-bottom: 80px;
}

.prremierepro_home {
    background-image: url('../image/Premiere.jpg');
    padding-bottom: 80px;
}

.autocad_home {
    background-image: url('../image/Autocad.jpg');
    padding-bottom: 80px;
}

.autocad_home {
    background-image: url('../image/Unity.jpg');
    padding-bottom: 80px;
}

.unreal_home {
    background-image: url('../image/slider3.jpg');
    padding-bottom: 210px;
}

.certification_home {
    padding-top: 70px;
    padding-bottom: 100px;
    background: url('../image/after/girl1.jpg') no-repeat center;
    background-size: cover;
}

.certification1_home {
    background: url('../image/after/girl2.jpg') no-repeat center;
    padding-top: 70px;
    padding-bottom: 100px;
    background-size: cover;
}

.individual_home {
    background-image: url('../image/sanpshot/2.jpg');
}

.adobe_animatess a {
    border: none !important;
}

.adobe_animatess li a {
    background-color: #e3e3e3;
    color: #666;
    transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
    padding: 14px 30px 12px 30px
}

.adobe_animatess.nav-tabs > li.active > a, .adobe_animatess.nav-tabs > li.active > a:focus, .adobe_animatess.nav-tabs > li.active>  a:hover {
    background-color: #EBEBEB !important;
    color: #66b2ff!important;
    transition: background .2s ease-in-out, color .2s ease-in-out !important;
    padding: 14px 30px 12px 30px !important;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    color: #66b2ff!important;
    opacity: 0.9;
}
.certificate_bg {
    background-color: #f4f4f4;
}

h3 {
    color: white!important;
    font-size: 18px!important;
    text-shadow: 1px 0!important;
    padding-bottom: 16px!important;
}

#myNavbar a {
    transition: all 400ms ease-in-out;
    color: white;
}

.custom_class {
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
}

.affix {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 0;
}

.logo a img {
    max-width: 100%;
}

.custom_class.affix {
    padding-top: 0;
    padding-bottom: 0;
    transition: all 200ms linear;
}

.custom_class.affix-top {
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    transition: all 200ms linear;
}

.custom_class.affix .logo a img {
    width: auto;
    height: 50px;
    padding-top: 5px;
}

.padding_left_right_null {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.training_courses {
    position: relative;
    padding-top: 0;
    padding-bottom: 3px;
}

.training_courses img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.three {
    color: #202329;
    font-size: 23px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.two {
    color: #5e5d5d;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 20px;
}

h4 {
    font-size: 16px;
    color: #BFD432;
    text-shadow: 1px 1px #BFD432;
}

h5 {
    color: #aeaeae;
    font-size: 16px;
    font-family: Karla,sans-serif;
}

h6 {
    color: black;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

h {
    color: #a1a1a1;
    font-size: 16px;
    line-height: 1.5;
    font-family: Karla, sans-serif;
}

.special_offers {
    font-size: 16.5px;
    color: #8a8b8c;
    line-height: 1.8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lovings {
    background-color: white;
    width: 100%;
    display: inline-block;
    height: auto;

}

.loving {
    text-align: center;
    padding-bottom: 60px;
}

p {
    color: #8a8b8c;
    font-size: 18px;
    text-align: center;
}

.whats_link {
    padding-top: 10px;
}

.still {
    color: #008080;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}

.sub {
    width: 77%;
    height: auto;
    padding: 14px;
    color: white;
    font-size: 14px;
    background-color: #bfd432;
    text-shadow: 0 1px white;
    border: #bfd432;
}

.browser {
    /*height: 50px;*/
    padding: 16px 15px 16px 15px;
    font-size: 18px;
    /*text-shadow: 0 1px white;*/
    color: white;
    background-color: #d02e17;
    border: #d02e17;

}

.browser_whatsapp {
    /*height: 50px;*/
    padding: 8px 15px 8px 15px;
    font-size: 13px;
    text-shadow: 2px 2px white;
    color: green;
    background-color: white;
    border: white;
}

.broser1 {
    padding-left: 10px;
    padding: 15px 20px;
    width: 70%;
    /*height: 50px;*/
    font-size: 14px;
    text-shadow: 0 1px white;
    color: white;
    background-color: #d02e17;
    border: #d02e17;
}

.search {
    width: 77%;
    height: auto;
    padding: 14px;
    color: white;
    background-color: white;
    border: white;
}

.im {
    margin: 40px;
}

.buttom_footer {
    width: 100%;
    height: auto;
    padding-left: 20px;
    background-color: #2c3139;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
}

.buttom {
    width: 100%;
    height: auto;
    padding-left: 20px;
    background-color: black;
    padding-top: 2.0em;
    padding-bottom: 2.0em;
}

/*........................................................*/

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.sub-menu li a:hover {
    opacity: 0.9;

    background-color: black;
}

a:hover, button:hover{
    opacity: 0.9!important;

}

.dropdown-menu li a:hover {
    opacity: 0.9;
    color: #66b2ff!important;
    background-color: black;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    background-color: #383d46;
    font-size: 14px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #383d46;
    font-size: 14px;
}

.after_your {
    background-color: #749f00;

}

.whicher_img {
    max-width: 100%;
    /*padding: 10px;*/
}

.form_submit, .form_submit:hover {
    color: #fff;
}

.whichever_para {
    font-family: Karla,sans-serif;
    line-height: 3.5;
    color: white;
    font-size: 18px;
    padding-top: 20px;
}

.careerss {
    width: 100%;
    height: auto;
    color: white;
    font-size: 16px;
    font-family: kerla;
    line-height: 3.5;
    padding-right: 3%;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

.whichever {
    padding-bottom: 25px;
}

.backimage {
    width: 1000px;
    /*height: 80px;*/
}

.backimage1 {
    width: 1000px;
    /*height: 80px;*/
}

.backimage2 {
    width: 1000px;
    /*height: 80px;*/
}

.overlay-content {
    position: relative;
    top: 70%;
    width: 80%;
    text-align: center;
}

.overlay input[type=text] {
    padding: 14px;
    font-size: 17px;
    float: left;
    width: 40%;
    background: black;
}

.course {
    color: #5e5d5d;
    font-size: 36px;
    letter-spacing: 1px;
}

.academy_class {
    text-align: center;
    padding-bottom: 30px
}

.course h2 {
    text-align: center;
}

.indival {
    background-color: white;
    width: 100%;
    display: inline-block;
    height: auto;
    padding-top: 70px;
    padding-bottom: 30px
}

select {
    width: 100%;
    padding: 10px 16px;
    font-size: 14px;
    color: gray;
}

input[type=text] {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: gray;
}

.list {
    padding-bottom: 2em;
}

textarea {
    width: 100%;
    height: 110px;
    padding: 12px 20px;
    color: gray;
    font-size: 14px;
}

.btn {
    background-color: darkblue;
    color: white;
    text-shadow: 2px 1px black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.broser:hover {
    opacity: 0.7;
    color: #5e5d5d;
    background-color: darkblue;
}

.broser1:hover {
    opacity: 0.9;
    color: #5e5d5d;
    background-color: darkmagenta;
}

.sub:hover {
    opacity: 0.7;
    background-color: red;
}

a:hover {
    opacity: 0.5;
    color: white;
}

.absolute {
    position: absolute;
    text-shadow: 1px 0 white;
    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    width: 100%;
    text-align: center;
    bottom: 6px;
    padding: 5px 5px;
}







body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px;
    height: 400px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#myNavbar a {
    transition: all 400ms ease-in-out;
    text-shadow: 1px 0;
    font-style: normal;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.popupimg{
    margin-top: -10px;
    margin-left: -40px;
}

.signin-agile {
    width: 70% !important;
    float: left;
    background: #00000073;
    padding: 80px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    height: 460px!important;
    margin: 3em 0;
}

.signin-agiles {
    width: 70% !important;
    float: left;
    background: #00000073;
    padding: 80px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    height: 500px!important;
    margin: 3em 0;
}

.signin-agile {
    box-shadow: 1px 10px 30px 0 black, 0 10px 30px 0 black;
}

.signin-agiles {
    box-shadow: 1px 10px 30px 0 black, 0 10px 30px 0 black;
}

.branch{
    text-align: revert;
}

.form-control {
    display: block;
    width: 90% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 50px!important;
}

.edit_delete {
    background-color: yellowgreen!important;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    padding: 20px!important;
}

input[type="username"], input[type="email"], input[type="password"] {
    font-size: 1em;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ff7f00 4%); */
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
    border-color: orange yellow;
    border-radius: 50px;
    /* border-size: -2px; */
}



input[type="text"], input[type="password"] {
    width: 94.5%!important;
}

ul li input[type="checkbox"] + label span:first-child {
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px solid #fff;
    position: absolute;
    top: 36px!important;
    left: 4px;
    bottom: 4px;
}

ul li input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    border: #F0F8FF;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding-top: 32px!important;
}

.forgot{
    padding-top: 30px;
}

h3 {
    color: white !important;
    font-size: 22px !important;
    text-shadow: 2px 0 !important;
    padding-bottom: 20px !important;
}


input[type="username"]:hover {
    opacity: 0.7;
    background-color: black;
    border-color: blue;
}

input[type="password"]:hover {
    opacity: 0.7;
    background-color: black;
    border-color: blue;
}

