
body , .theme-logo-bg{
    background: #e1e1e1;
}


.logo.theme-logo-bg a {
    color: #32323a;
}

.side-Navigation li a,
.side-Navigation .child-list > li > a{
    color: #323232;
}

/*--header--*/
.header-section.light-color .mega-menu ul.nav > li > a,
.header-section.light-color a.toggle-btn,
.header-section.light-color .sb-toggle-right,
.header-section.light-color  ul.notification-menu > li > a {
    color:#fff ;
}

.header-section.light-color a.toggle-btn:hover,
.header-section.light-color .mega-menu ul > li > a:hover, .mega-menu ul > li > a:focus,
.header-section.light-color .notification-menu .dropdown-toggle:hover,
.header-section.light-color .notification-menu .dropdown-toggle:focus,
.header-section.light-color .sb-toggle-right:hover,
.header-section.light-color .notification-menu .open .dropdown-toggle.dropdown-toggle,
.header-section.light-color .notification-menu .dropdown-toggle:active,
.header-section.light-color .mega-menu .nav .open>a{
    background: rgba(255,255,255,.1) !important;
}

.header-section.light-color .notification-menu .dropdown-toggle:hover,
.header-section.light-color .notification-menu .dropdown-toggle:focus,
.header-section.light-color .sb-toggle-right:hover,
.header-section.light-color .notification-menu .open .dropdown-toggle.dropdown-toggle,
.header-section.light-color .notification-menu .dropdown-toggle:active{
    color: #fff;
}
/*----*/


.sidebar-left .nav > li > a:hover,
.sidebar-left .nav > li > a:focus,
.side-Navigation > li.active > a,
.side-Navigation > li.active > a:hover,
.side-Navigation > li.active > a:focus,
.side-Navigation > li.menu-list > a:hover,
.side-Navigation > li.nav-active > a,
.side-Navigation .child-list,
.sidebar-collapsed .side-Navigation > li.nav-hover > a,
.sidebar-collapsed .side-Navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-Navigation li.nav-hover.active a span,
.sidebar-collapsed .side-Navigation li a span,
.sidebar-collapsed .side-Navigation li.nav-hover ul,
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #d5d5d5;
}

.side-Navigation > li.active > a,
.side-Navigation > li.active > a:hover,
.side-Navigation > li.active > a:focus,
.side-Navigation .child-list > li > a:hover,
.side-Navigation .child-list > li > a:active,
.side-Navigation .child-list > li > a:focus,
.mega-menu ul li ul li a:hover,
.weather-widget .weather-info .degree ,
.weather-widget .weather-info .degree:after,
.side-Navigation > li.nav-active > a,
.side-Navigation > li > a:hover, .side-Navigation > li > a:active,
.side-Navigation > li.nav-active > a:after,
.sidebar-collapsed .side-Navigation > li.nav-hover > a,
.sidebar-collapsed .side-Navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-Navigation li.nav-hover.active a span,
.sidebar-collapsed .side-Navigation li a span,
.sidebar-collapsed .side-Navigation li.nav-hover a span{
    color: #000;
}

.r-close-btn:hover {
    background: #000;
}


.side-Navigation .child-list > li > a:hover,
.side-Navigation .child-list > li > a:active,
.side-Navigation .child-list > li > a:focus,
.sidebar-collapsed .side-Navigation ul a:hover{
    background: rgba(255,255,255,0.2);
}


.Navigation-title {
    color: #323232;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}


.sidebar-widget {
    border-top: 1px solid rgba(0,0,0,0.05);
}

.sidebar-widget h4,
.sidebar-widget p {
    color: #323232;
}




