
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.panel-default > .panel-heading {
  color: white!important;
  background-color: royalblue!important;
  border-color: #d3e0e9;
  text-shadow: 1px 0!important;
  font-size: 16px!important;
}


.panel-body {
  padding: 36px;
  background-color: wheat!important;
  color: black!important;
}
